

<h3>Background</h3>


<p>
  This code sample reflects the most recent implementation of the API, including
  the <code>connection.downlinkMax</code> attribute, support for the
  <code>'wimax'</code> connection type, and <code>connection.onchange</code>
  event listener. (The older <code>connection.ontypechange</code> event listener
  should no longer be used.)
</p>

{% include output_helper.html %}

<script>
  var log = ChromeSamples.log;
</script>

{% include js_snippet.html filename='demo.js' %}
